*{
    margin: 0;
    padding: 0;
    /* border: red dotted 1px; */
}

body{
    background-image: url(imgs/shapes\-main.png);
    font-family: var(--font-style);
    color: rgb(184, 224, 255);
}

.jumbotron{
    background-color: #001829;
    /* background: transparent; */
}
li {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

